{% extends "base.html" %}
{% load staticfiles %}


{% block main_content %}
  <div id="map" class="fullscreen"></div>
  <div id="cover" class="fullscreen">
    <div id="coverText" class="col-xs-10 col-md-6">
      <h2>Welcome to GearCircles!</h2>
      <p>Local gear rentals for outdoor sports.</p>
      <p>Sign in!</p>
    </div>

  </div>
{% endblock %}

{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "js/index.js"%}"></script>

{% endblock %}
