{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_right %}
  <li id="btnLogin" class="active"></li>
{% endblock %}

{% block main_content %}
  <div id="map" class="fullscreen"></div>
  <div id="cover" class="fullscreen"></div>
{% endblock %}

{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "js/main.js"%}"></script>
    <script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
    <link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css" />
    <script type=text/javascript>
      window.google.identitytoolkit.signInButton(
        '#btnLogin', // accepts any CSS selector
        {
          widgetUrl: "/loginwidget",
          signOutUrl: "/",
        }
      );
    </script>

{% endblock %}
