{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_right %}
  <li class="active"><a href="/login">Login<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block main_content %}
  <div id="map" class="fullscreen"></div>
  <div id="cover" class="fullscreen"></div>
{% endblock %}

{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
{% endblock %}
