{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_left %}
  <li><a href="/myaccount">My Account</a></li>
{% endblock %}

{% block main_content %}
<div class="container">


  <form class="form-horizontal" enctype="multipart/form-data" method="POST">
    {% csrf_token %}


    <div class="form-group has-feedback">
      <label for="frmPhone" class="control-label col-md-2">Phone:</label>
      <div class="col-md-6">
        <input type="phone" class="form-control" id="frmPhone" name="frmPhone" value="{{request.user.phone}}" placeholder="+12223334455" required>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>

    <div id="btnGetCode" class="form-group hidden">
      <label for="btnGetCode" class="control-label col-md-2">Get PIN:</label>
      <div class="col-md-6">
        <button id="frmGetCode" class="btn">Get PIN code for phone verification</button>
      </div>
    </div>

    <div id="insertCode" class="form-group hidden">
      <label for="frmCode" class="control-label col-md-2">Insert PIN:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="frmCode" name="insertCode" placeholder="Input PIN here">
      </div>
    </div>

    <div id="btnSendCode" class="form-group hidden">
      <label for="frmSendCode" class="control-label col-md-2">Submit PIN:</label>
      <div class="col-md-6">
        <button id="frmSendCode" class="btn">Submit PIN</button>
      </div>
    </div>


    <div class="form-group has-feedback">
      <label for="frmName" class="control-label col-md-2">Gear name/title:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="frmName" name="frmName" placeholder="Telemark Skis" required>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="frmBrand" class="control-label col-md-2">Brand:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="frmBrand" name="frmBrand" placeholder="Black Diamond, Burton" required>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="frmDescription" class="control-label col-md-2">Description:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="frmDescription" name="frmDescription" placeholder="Tell more about your product" required>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="frmCategorySelect" class="control-label col-md-2">Category:</label>
      <div class="col-md-6">
        <select id="frmCategorySelect" name="frmCategorySelect" class="form-control" required>
          <option selected></option>
            {% for category in categories %}
              <option value={{category.id}}>{{ category.name }}</option>
            {% endfor %}
        </select>
      </div>
    </div>

    <div id="frm-elements-container">
      <!--This is for category properties  -->
    </div>

    <!-- Input group -->
    <div class="form-group has-feedback">
      <label for="frmPrice" class="control-label col-md-2">Price:</label>
      <div class="col-md-6">
         <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-usd"></span>
          </div>
          <input type="number" step="0.1" min="0" class="form-control" id="frmPrice" name="frmPrice" placeholder="Price per day in USD" required>
         </div>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>


    <div class="form-group has-feedback">
      <label for="frmPayment" class="control-label col-md-2">Payment Options:</label>
        <div class="col-md-6">
        <div class="radio">
          <label>
            <input type="radio" name="frmPayment" id="optionsRadios1" name="optionsRadios1" value="1" checked>
            PayPal
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="frmPayment" id="optionsRadios2" name="optionsRadios2" value="0">
            Cash
          </label>
        </div>
        <div class="radio disabled">
          <label>
            <input type="radio" name="frmPayment" id="optionsRadios3" name="optionsRadios3" value="2">
            PayPal or Cash
          </label>
        </div>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="frmAddress" class="control-label col-md-2">Address:</label>
      <div class="col-md-6">
        <input type="address" class="form-control" id="frmAddress" name="frmAddress" placeholder="295 Madison Avenue" required>
        <span class="glyphicon form-control-feedback"></span>
      </div>
    </div>

    <input type="hidden" class="form-control" id="frmLatitude" name="frmLatitude" required>
    <input type="hidden" class="form-control" id="frmLongitude" name="frmLongitude" required>

    <div class="form-group">
      <label for="frmAddress" class="control-label col-md-2"></label>
      <div id="map" class="frmMap col-xs-12 col-md-6"></div>
    </div>

    <div class="form-group has-feedback">
      <label for="frmDate" class="control-label col-md-2">Expiration Date:</label>
      <div class="col-md-6">
        <input id="frmDate" name="frmDate" type="date" required>
      </div>
    </div>


    <div class="form-group has-feedback">
      <label for="frmImage" class="control-label col-md-2">Image:</label>
      <div class="col-md-6">
        <input type="file" id="frmImage" name="frmImage" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10">
        <label for="frmButton" class="control-label col-md-3"></label>
        <button type="submit" id="btnSubmitAddGear" class="btn btn-primary col-md-6 push">Submit</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->




{% endblock %}

{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "gears/js/addgear.js"%}"></script>


{% endblock %}
