{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
{% endblock %}


{% block main_content %}
  <div id="gear_details" class="fullscreen">
    <div class="col-md-6">
      <img width=480px height=640px src="{{photo}}" class="img-responsive" alt="Responsive image">
    </div>

    <div class="col-md-6">
      <h2>{{ name }}</h2>
      <h3>{{ description }}</h3>
      <p>
      {% for category in categories %}
      <span>{{ category }}</span>
      {% endfor %}
      </p>

      {% for gp in gear_properties %}
      <p>*{{ gp.category_property}} {{gp.value }}<p>
      {% endfor %}
      </p>
      <p>Price/day: ${{ price }}</p>
      <p>Brand: {{ brand }}</p>
      <p>Contact method: {{ preferred_contact }}</p>
      <p>Payment methods: {{ payment }}</p>
      <p>Listing expires: {{ expiration_date }}</p>
      <p>Owner: {{ user }}</p>
      <p>Location: {{ location }}</p>
      <button>RENT ME</button>
    </div>
  </div>
  <!-- <div id="map" class="fullscreen"></div> -->
{% endblock %}


{% block script_end %}
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <!-- <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "gears/js/home.js"%}"></script> -->

{% endblock %}
