{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_left %}
  <li><a href="/addgear">Add Gear</a></li>
  <li><a href="/myaccount">My Account</a></li>

  <div class="wrap col-xs-12 col-md-4">
    <input type="checkbox" class="slider-v3" id="switchView" />
    <label for="switchView"></label>
  </div>
{% endblock %}

{% block menu %}

  <ul id="choiceMenu" class="nav navbar-nav col-xs-12">
    <li id="btnCategory" class="btnChoiceMenuItem" data-panelId="categoryMenu"><a href="#">Category</a></li>
    <li id="btnPrice" class="btnChoiceMenuItem" data-panelId="priceMenu"><a href="#">Price</a></li>
    <li id="btnDate" class="btnChoiceMenuItem" data-panelId="dateMenu"><a href="#">Date</a></li>


    <div class="input-group col-xs-12 col-md-4">
      <input id="txtSearch" type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button id="btnSearch" class="btn btn-default" type="button">Go!</button>
      </span>
    </div>



  </ul>

  <div class="container">
    <ul id="categoryMenu" class="nav navbar-nav pnlChoiceMenu col-xs-12">
    </ul>

    <ul id="priceMenu" class="nav navbar-nav pnlChoiceMenu col-xs-12">
      <li class='col-xs-12 col-md-3'>
        <div class="input-group">
          <label for=minPrice class="col-xs-5 col-xs-push-4">Min</label>
          <input id="minPriceSlider" value=0 min=0 type="range" onchange="minPrice.value=value" >
          <input id="minPrice" value=0 min=0 type="number" onchange="minPriceSlider.value=value" class="col-xs-5 col-xs-push-4">
        </div>
      </li>
      <li class='col-xs-12 col-md-3'>
        <div class="input-group">
          <label for=maxPrice class="col-xs-5 col-xs-push-4">Max</label>
          <input id="maxPriceSlider" value=50 min=0 type="range" onchange="maxPrice.value=value">
          <input id="maxPrice" value=50 min=0 type="number" onchange="maxPriceSlider.value=value" class="col-xs-5 col-xs-push-4">
        </div>
      </li>
    </ul>

    <ul id="dateMenu" class="nav navbar-nav pnlChoiceMenu col-xs-12">
      <!-- <div class="col-md-2"> -->
      <li class='col-xs-12 col-md-3'>
        <div class="input-group">
          <label for="startDate">Start Date: </label>
          <input id="startDate" type="date">
        </div>
      </li>
      <!-- <div class="col-md-2"> -->
      <li class='col-xs-12 col-md-3'>
        <div class="input-group">
          <label for="endDate">End Date: </label>
          <input id="endDate" type="date">
        </div>
      </li>
    </ul>
  </div>

{% endblock %}


{% block main_content %}
  <div id="map" class="fullscreen"></div>
  <div id="cards" class="container"></div>
  <!-- <div id="loading" class="hidden">
      <img class="visible-md" src="{% static "img/ajax-loader.gif"%}" height="128px" width="128px" alt="loading...">
      <img class="visible-xs" src="{% static "img/ajax-loader.gif"%}" height="64px" width="64px" alt="loading...">
  </div> -->

{% endblock %}


{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "gears/js/home.js"%}"></script>

{% endblock %}
