{% extends "base.html" %}
{% load staticfiles %}

{% block navbar_right %}
  <li class="active"><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
{% endblock %}


{% block menu %}

  <ul id="choiceMenu" class="nav navbar-nav col-xs-12 col-md-6">
    <li id="btnCategory"><a href="#">Category</a></li>
    <li id="btnPrice"><a href="#">Price</a></li>

    <div class="input-group col-xs-12 col-md-6">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>



  </ul>

  <ul id="categoryMenu" class="nav navbar-nav hiddenMenu col-xs-12">
  </ul>

  <ul id="priceMenu" class="nav navbar-nav hiddenMenu col-xs-12">
    <li>$0-10</li>
  </ul>

{% endblock %}


{% block main_content %}
  <div id="map" class="fullscreen"></div>
{% endblock %}


{% block script_end %}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static "js/gmaps.js"%}"></script>
  <script src="{% static "gears/js/main.js"%}"></script>

{% endblock %}
